*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f9f9;
   

}
header{
    border: solid;
    width: 100%;
    height: 4rem;
}
.banner{ 
    border: solid;
    width: 100vw;
    height: 70vh;
}

.products{ 
    border: solid; 
    height: 40vh;
}

